.map-container {
  width: 100%; /* Define a largura do container para ocupar todo o espaço disponível */
  height: 400px; /* Define a altura do container */
  border: 1px solid #ccc; /* Adiciona uma borda ao container para destacá-lo */
}