:root {
  --cor-azul-escuro: #2F3C7E;
  --cor-rosa-claro: #FBEAEB;
  --cor-azul-claro: #94A2D9;
  --cor-azul-medio: #5B6BAA;
  --cor-azul-marinho: #1C244E;
  --cor-rosa-medio: #F4C4C7;
  --cor-rosa-escuro: #E38084;
  --cor-cinza-claro: #EAEAEA;
  --cor-cinza-escuro: #6B6B6B;
  --cor-branco: #FFFFFF;
}


body {
  background-color: var(--cor-azul-escuro);
}